.prod-cart-cnt{
    margin-top: 50px !important;
}

.card-cnt{
    border-radius: 20px;
}

.prod-desc{margin-left: 20px;}

.prod-desc > p {
    letter-spacing: 1px;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
}

.p-q > button , .p-q > span{ width: 20%; display: inline-block;}
.p-c > button{float: left;}
.p-c > a{float: right;}