.user-auth{
    position: relative;
    background-color: #ffffff;
    margin-right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-auth > span{
    position: absolute;
    top: 30%;
    left: 30%;
    color: #0d6effd9;
    font-weight: bold;
}

.logout-btn{
    margin-top: 10px;
    margin-right: 20px;
    height: 40px;
}