.custom-col {
	width: 20% !important;
}

.card-cnt {
	background-color: #f7f7f7 !important;
	border: 0px !important;
	text-align: center;
	margin: 20px 0px;
	vertical-align: top;
}

.card-cnt>a {
	text-decoration: none;
	text-transform: uppercase;
	color: #012440;
}

.card-cnt>a>div>h4 {
	font-size: 20px;
	font-weight: bold;
}


@media (min-width: 320px) and (max-width: 425px) {
	.custom-col {
		width: 80% !important;
		margin: 40px auto;
	}

	.card-cnt {
		width: 60%;
		margin: 0 auto;
	}
}


@media (min-width: 426px) and (max-width: 768px) {
	.custom-col {
		width: 80% !important;
		margin: 40px auto;
	}

	.card-cnt {
		width: 60%;
		margin: 0 auto;
	}
}