.price {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #007BFF;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1rem;
}

.stock {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ff0022;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1rem;
}

.card {
	width: '350px';
	border-radius: '12px';
	overflow: 'hidden';
	background-color: '#FFF';
	box-shadow: '0 4px 16px rgba(0, 0, 0, 0.15)';

}

.detail-btn,
.cart-btn {
	width: 40%;
	display: inline-block;
}