/* Modal fiks width */
.modal-dialog {
    max-width: 300px;
    width: 300px;
}

.products-modal>div {
    position: absolute;
    top: 145px;
    left: 200px;
}

.categories-list-vertical {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-item-li-vertical {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.category-link-vertical {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111;
    padding: 6px 8px;
}

.category-image-wrapper-vertical {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 10px;
    flex-shrink: 0;
}

.category-image-vertical {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.category-item-li-vertical:hover .category-image-vertical {
    transform: scale(1.05);
}

.category-title-vertical {
    font-weight: 600;
    font-size: 14px;
}